* {box-sizing: border-box;}

body { background: #F2D8A7;
	margin: 0;
}

header {
	min-height: 200px;
	width: 100%;
	background: #458C6B;
	
	
}

nav{
	min-height: 75px;
	width: 960px;
	background: #D9A86C;
	margin: auto;
	border: 50px;
}

section {
	width: 960px;
	margin:auto;
	overflow: hidden;
}


 article {
	width: 310px;
	min-height: 400px;
	background: #A62424;
	border: 1px solid #fff;
	float: left;
	margin: 5px;
}


footer {
	min-height: 50px;
	width: 100%;
	background: #458C6B;
	
}